html,
body {
  font-family: "Lato Extended", "Lato", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-size: 1rem;
  
  color: rgb(132, 130, 130);
}

.header-box {
  display: flex;
  margin-bottom: 10px;
  height: 150px;
  justify-content: space-between;
  max-width: 1350px;
}

.header-left-side {
  display: flex;
  flex-direction: row;
}

.header-right-side {
  padding-top: 10px;
  padding-right: 15px;
}
